/*
//----------------------------------------------------------------------------
// Copyright (c) 2006-2010 Asymmetric Software. Innovation & Excellence.
// Author: Mark Samios
// http://www.asymmetrics.com
//----------------------------------------------------------------------------
// Front: Main Stylesheet
//----------------------------------------------------------------------------
// I-Metrics CMS
//----------------------------------------------------------------------------
// Script is intended to be used with:
// osCommerce, Open Source E-Commerce Solutions
// http://www.oscommerce.com
// Copyright (c) 2003 osCommerce
------------------------------------------------------------------------------
// Released under the GNU General Public License
//----------------------------------------------------------------------------
// CSS reset - use only in development
* {padding: 0; margin: 0;}
*/
/* Template Defaults */
body {font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #333333; background: #FFF; margin:0; padding:0; }
h1,h2,h3 {margin:0; padding:0; overflow: hidden; }
form, legend {margin:0; padding:0;}
fieldset{ margin: 0; }
img { border: 0; padding: 0; margin: 0; border-style:none;}
div { position: relative; margin:0; padding:0; }
a { color: #333333; font-weight: bold; text-decoration: none; }
a:hover { text-decoration: underline; }
table {border: 0;}
th {text-align: left;}

/* CSS Template Main Tags and Overrides */
h1, .pageHeading {
  font-size:24px;
  line-height: 24px;
  margin: 0px 0px 0px 0px;
  padding: 12px 0px 12px 0px;
  color: #284080;
}

.pageHeading {
  font-weight: bold;
}

h2 {
  color:#c80000;
  font-size:16px;
  margin-bottom: 8px;
}
h2 a:hover {color: #545E74;}

h3 {
  color:#c80000;
  font-size:14px;
  line-height: 24px;
}  

fieldset {
  border: 1px solid #A2A69F;
  /*background: #E2E6DF;*/
  margin-bottom: 16px;
  padding: 16px;
}

fieldset .leftsize {
  width: 410px;
}

fieldset .split2 {
  padding-right: 8px; 
  margin-right: 16px; 
  border-right: 1px solid #CCC;
}

legend {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #545E74;
  padding: 0px 8px;
}

label {
  margin-right: 0.5em;
  display: block;
}

input, textarea, select {
  font: 12px Arial, Helvetica, sans-serif;
  vertical-align: middle;
  color:#000;
}

input:focus {background: #FFFFEF;}
input[type="image"] {background: transparent;}

input, input:active, input:focus{
  outline: 0;
  outline-style: none;
  outline-width: 0;
}


/* Template Design Classes */
#wrapper {
  margin-top: 20px;
}

.mborder {
  border: 3px solid #9F9F9F;
}

.mborder_header {
  border: 2px solid #9F9F9F;
}

#mcontent {
  /*margin-top: 185px;*/
  padding: 0px 0px 0px 0px;
  border: 3px solid #cccccc;
}

#header_right {
  padding: 21px 0px;
  width: 630px;
}

#header_inner {
  border: 1px solid #cccccc;
  padding: 3px 0px;
  text-align: center;
  background: #284080;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
}

#header_inner a {
  color: #FFF;
  margin: 0px 16px;
  text-decoration: none;
}

#header_inner a:hover {
  color: #0ED1EE;
}

#logo {
  padding: 0px 0px 0px 0px;
}

#shome_left {
  float: left;
  width: 560px; 
  padding-left: 16px;
}
#shome_right {
  float: right;
  width: 352px;
  /*background: #284080;*/
  background: #FFFFFF;
}

#scart_left {
  float: left;
  width: 256px;
  background: #284080;
}
#scart_right {
  float: right;
  width: 658px;
  padding: 0px 16px;
}

#account_left {
  float: left;
  width: 256px;
  background: #284080;
}
#account_right {
  float: right;
  width: 658px; 
  padding: 0px 16px;
}

#address_left {
  float: left;
  width: 658px;
  padding: 0px 16px;
}
#address_right {
  float: right;
  width: 256px; 
  background: #284080;
}

#contact_left {
  float: left;
  width: 658px;
  padding: 0px 16px;;
}
#contact_right {
  float: right;
  width: 256px; 
  background: #284080;
}

#info_left {
  float: left;
  width: 256px;
  background: #284080;
}

#info_right {
  float: right;
  width: 658px; 
  padding: 0px 16px;
}

#product_left {
  float: left;
  width: 256px;
  background: #284080;
}
#product_right {
  float: right;
  width: 658px; 
  padding: 0px 16px;;
}

.atabs {
  border-left: 1px solid #D2D2D2;
  border-right: 1px solid #D2D2D2;
  border-top: 1px solid #D2D2D2;
  font-weight: normal;
}

.atabs:hover {
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-top: 1px solid #FFF;
  text-decoration: none;
  padding-top: 9px;
}

.atabs_selected {
  background: #FFF;
  font-size: 13px;
  text-decoration: bold; 
  color: #284080;
}

.atabrow {background: #E2E2E2;}
.atabrow:hover {background: #D2D2D2;}
.atabaltrow {
  background: #C7C7C7;
  border-bottom: 2px solid #A2A2A2;
}

.auction_list a {
  text-decoration: none;
}

.auction_item a {
  color: #00A;
}

.mark_red {
  color: #C80000;
}

.mark_green {
  color: #00C800;
}

.mark_blue {
  color: #0000C8;
}

.font_large {
  font-size: 18px;
}

.splash48 {
  background: url(images/icons/icon_splash48.png) no-repeat;
}
.splash48_orange {
  background: url(images/icons/icon_splash48_orange.png) no-repeat;
}
.splash48_green {
  background: url(images/icons/icon_splash48_green.png) no-repeat;
}
.splash48_purple {
  background: url(images/icons/icon_splash48_purple.png) no-repeat;
}
.splash48_blue {
  background: url(images/icons/icon_splash48_blue.png) no-repeat;
}

.splash48, .splash48_orange, .splash48_green, .splash48_purple, .splash48_blue  {
  height: 28px;
  width: 28px;  
   
}

.splash_text {
  padding-top:5px; 
  padding-left: 0px;
  font-size: 8px;
  color: #4B596F;
  text-decoration: none;
  text-align: center;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

.tiny_text {
  font-size: 11px;
}

.button_text {
  padding: 4px 8px;
  height: 20px;
  background: #C80000;
  overflow: hidden;
}

.button_text a {
  color: #FFF;
}

a.button_line {
  font-size: 13px;
  color: #FFF;
  text-decoration: underline;
}

a.button_line:hover {
  color: #FFF;
  text-decoration: none;
}

.subline {
  color: #000;
  font-size:16px;
  line-height:20px;
  padding-left: 3px;
}

.orders_overview, 
.account_personal,
.account_notifications,
.account_orders {padding-left: 138px; min-height: 128px;}
.orders_overview {background: url(images/design/orders_overview.png) no-repeat; }
.account_personal {background: url(images/design/account_personal.png) no-repeat; }
.account_orders {background: url(images/design/account_orders.png) no-repeat; }
.account_notifications {background: url(images/design/account_notifications.png) no-repeat; }
.account_arrow {line-height: 20px; padding-left: 26px; background: url(images/design/account_arrow.png) 0 center no-repeat; }
.account_bullet {padding-left: 26px; background: url(images/design/account_bullet.png) 0 center no-repeat; }
.frequired {padding-left: 20px; background: url(images/design/required.png) 0 center no-repeat; }

.dtrans_footer {background: #284080; padding-top: 0px;}
.dtrans {background: #cccccc; padding-top: 10px;}
.dtrans2 {background: #B8DAE3;}
.dtrans3 {background: #688A93;}
.dtrans4 {background: #133D4B}
.dtrans4, .dtrans4 a {font-size: 10px; color: #CCC;}
.dtrans, .dtrans a {font-size: 10px; font-weight: bold; color: #FFF;}
.dtrans a {
  text-decoration: none;
}
a.deco_none {text-decoration: none;}

.bgf, .bgc {padding: 0px 12px 0px 12px;}
.bg {background: #FFF;}

.gallery img {
  background: #D3D3D3;
  padding: 2px 2px 28px 2px;
}

.gallery .gbuttons {
  margin-top: -24px;
  margin-bottom: 24px;
}

.gallery .gbuttons a {
  color: #C80000;
  padding: 4px 6px;
  text-decoration: none;
}

.gallery .gbuttons a:hover {
  color: #FFF;
  background: #C80000;
}

.infobox {
  width: 478px;
  background: #D8D8D8;
  margin-bottom: 16px;
}
.infobox .cbox {
  padding: 0px 16px;
}
.infobox .cbox h2 {
  font-size:23px;
  line-height:26px;
  color:#000;
}

.infobox .cbox label {
  font-size: 13px;
  font-weight: bold;
  color: #C80000;
  display: block;
  padding: 8px 0px 0px 8px;
}

.infobox .cbox select {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin-left: 20px;
  width: 90%;
}

.infobox .hbox {height: 20px; background: url(images/design/infobox.png) no-repeat 0% 0%;}
.infobox .fbox {height: 43px; background: url(images/design/infobox.png) no-repeat 100% 0%;}

.description a {text-decoration:underline; color: #C80000;}
.description a:hover {text-decoration: none;}

.contentBoxHeading, .contentBoxHeadingRight {
  background: #7BBCE6;
  color: #FFF;
  padding: 8px 8px;
}

.contentBoxHeading {
  margin: 8px 8px 8px 4px;
}

.contentBoxHeadingRight {
  margin: 8px 4px 8px 8px;
}

.contentBoxContents {
  background: #284080;
  color: #FFF;
  padding: 12px 12px;
}

.contentBoxContents label {color: #A3F0FF;}
.contentBoxContents a {color: #A3F0FF;}

.buttonsRow {
  background: #F2F2F2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

#tsearch {border-collapse: collapse;}

.footer_outer {
  font-size: 11px;
}

.footer_inner div a {
  font-weight: normal;
  padding: 0px 4px 4px 18px;
  background: url(images/design/mbullet.gif) no-repeat 4px 5px;
}

.footer_inner .sep {
  width: 1px; 
  overflow: hidden; 
  margin: -10px 0px -30000px 0px; 
  padding: 0px 0px 30010px 0px; 
  border-right: 1px dotted #7B7B7B;
}
.fcol {
  width: 200px;
  padding-left: 30px;
}
input.search {
  font:16px Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 300px;
  line-height: 34px;
  height: 34px;
  padding: 0px 4px 0px 4px;
  border: 0;
}

input.frequired {
  border: 1px solid #C80000;
}

.tabledata, .talign {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

.tabledata tr.hrow { background-color: #545E74; }

.tabledata td{
  padding: 8px;
  border-bottom: 1px solid #CCC;
}
.tabledata th {
  padding: 8px 8px;
}

.tabledata th, .tabledata th a { color: #284080; font-weight: bold; }
.tabledata td a:hover {color: #F2F6AF;}
.oddrow {background: #FFFFFF;}
.altrow {background: #FFFFFF;}
.moduleRow, .moduleRowSelected { padding: 4px 0px; }
.moduleRow:hover {background: #D8FAFF; cursor: pointer;}
.moduleRowSelected {background: #B8DAE3;}

.rowInfo1 {
  background: #D9DFE8;
/*
 url('images/icons/icon_blocks1.png') no-repeat center 2px;
*/
  padding: 4px 0px;
}

.rowInfo2 {
  /*background: #98E3BA url('images/icons/icon_blocks2.png') no-repeat center 2px;*/
  background: #D9DFE8 url('images/icons/icon_blocks2.png') no-repeat center 2px;
  padding: 4px 0px;
}

.rowInfo3 {
  background: #D9DFE8 url('images/icons/icon_blocks.png') no-repeat center 2px;
  padding: 4px 0px;
}

.bannerTitle {
  font-size: 33px;
  letter-spacing: -1px;
  line-height: 38px;
  font-weight: bold;
  color: #C80000;
}


.swap_red {
  display: block;
  font-size:17px;
  color:#c80000;
}


input.tbutton, a.tbutton, input.tbutton2, a.tbutton2 {
  font-family: Verdana, Helvetica, sans-serif; 
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  height: 24px;
  color: #FFF;
  border: 1px solid #2B6298;
  text-align: center;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 2px 2px 1px #CCC;
  -webkit-box-shadow: 2px 2px 1px #CCC;
  box-shadow: 2px 2px 1px #CCC;
  text-shadow: 1px 1px 1px #333;
}

input.tbutton, input.tbutton2 {
  cursor: pointer;
  padding: 0px 8px;
}

a.tbutton, a.tbutton2 {
  line-height: 24px;
  padding: 4px 8px;
}

input.tbutton, a.tbutton {
  background: #E0E1E7 url(images/design/tbutton.png) repeat-x;
}

input.tbutton2, a.tbutton2 {
  background: #E0E1E7 url(images/design/tbutton.png) repeat-x 0 -44px;
}

input.tbutton:hover, a.tbutton:hover {
  background: #E0E0E0 url(images/design/tbutton.png) repeat-x 0 -22px;
  color: #FFF !important;
  cursor: pointer;
  text-decoration: none;
}

input.tbutton2:hover, a.tbutton2:hover {
  background: #E0E0E0 url(images/design/tbutton.png) repeat-x 0 -66px;
  color: #FFF !important;
  cursor: pointer;
  text-decoration: none;
}

input.mbutton, a.mbutton, input.mbutton2, a.mbutton2, input.mbutton3, a.mbutton3 {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  height: 34px;
  color: #EEE;
  border: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -moz-box-shadow: 3px 3px 2px #999;
  -webkit-box-shadow: 3px 3px 2px #999;
  box-shadow: 3px 3px 2px #999;

  text-shadow: 2px 2px 1px #333;
  text-align: center;
}

input.mbutton, input.mbutton2, input.mbutton3 {
  cursor: pointer;
  padding: 0px 16px;
}
a.mbutton, a.mbutton2, a.mbutton3 {
  line-height: 34px;
  padding: 8px 16px;
}

input.mbutton, a.mbutton {
  background: #E0E1E7 url(images/design/mbutton.png) repeat-x;
}
input.mbutton2, a.mbutton2 {
  background: #E0E1E7 url(images/design/mbutton.png) repeat-x 0 -68px;
}
input.mbutton3, a.mbutton3 {
  background: #E0E1E7 url(images/design/mbutton.png) repeat-x 0 -136px;
}
input.mbutton:hover, a.mbutton:hover, input.mbutton2:hover, a.mbutton2:hover, input.mbutton3:hover, a.mbutton3:hover {
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
}
input.mbutton:hover, a.mbutton:hover {
  background: #ffffff url(images/design/mbutton.png) repeat-x 0 -34px;
}
input.mbutton2:hover, a.mbutton2:hover {
  background: #ffffff url(images/design/mbutton.png) repeat-x 0 -102px;
}
input.mbutton3:hover, a.mbutton3:hover {
  background: #ffffff url(images/design/mbutton.png) repeat-x 0 -170px;
}

.extraFieldCell {
  width: 166px;
  height: 180px;
  margin: 9px 8px 0px 0px;
  padding: 3px;
  border: 2px solid #CCC;
  text-align: center;
}

.extraFieldCell a:hover { text-decoration:none; }
.extraFieldCell a:hover span { text-decoration:underline; }

/* Error Display */
.messageStackError, .messageStackWarning, .messageStackSuccess{ font-family: Arial, Verdana, sans-serif; font-size: 11px; font-weight: bold; padding: 0px 0px 0px 20px; border-bottom: 1px outset #FFF; overflow: hidden; }
.messageStackError  { color: #EEE; background: #FF0000 url(images/design/error.gif) no-repeat 5px center; }
.messageStackWarning { color: #EEE; background: #AA6600 url(images/design/warning.gif) no-repeat 5px center; }
.messageStackSuccess { color: #000; background: #77EE00 url(images/design/success.gif) no-repeat 5px center; }
.notice {
  background: #FF0000;
  color: #FFF;
}

label.require_error {
  font-weight: bold;
  display: block;
  color: #C80000;
}

input.require_error {
  border: 1px solid #C80000;
}

.script_error {
  color: #FFF;
  background: #C80000;
}

.auction_item {
  font-size: 11px; 
  line-height: 12px;
  text-align: center;
}

/* Common Names to Combine */
.totalsize {width: 960px;}
.innersize {width: 960px;}
.leftsize {width: 480px;}
.rightsize{width: 480px;}
.abs { position:absolute; }
.floater { float:left; }
.floatend { float:right; }
.cleaner { clear:both; }
.liner { display: inline; }
.scroller { overflow: auto; width: auto; }
.hideflow {float: left; overflow: hidden;}
.hider {overflow: hidden;}
.highter { height: 100% !important; }
.negate {float: left; margin-bottom: -30000px;}
.extend {float: left; padding-bottom: 30000px; margin-bottom: -30000px;}
.lalign { text-align: left; }
.ralign { text-align: right; }
.calign { text-align: center; }
.hspacer { margin: 0px 8px; }
.tspacer { margin-top: 8px; }
.bspacer { margin-bottom: 8px; }
.vspacer { margin: 8px 0px; }
.lspacer { margin-left: 8px; }
.rspacer { margin-right: 8px; }
.lmargin { margin-left: 16px; }
.bmargin { margin-bottom: 16px; }
.tmargin { margin-top: 16px; }
.vmargin { margin-top: 16px; margin-bottom: 16px; }
.pad{padding: 8px;}
.spad{padding: 4px;}
.tpad{padding-top: 8px;}
.bpad{padding-bottom: 8px;}
.lpad{padding-left: 8px;}
.rpad{padding-right: 8px;}
.vpad{padding-top: 8px; padding-bottom: 8px;}
.hpad{padding-left: 16px; padding-right: 16px;}
.hpadder{padding-left: 16px; padding-right: 16px;}
.cpad{padding: 4px 8px;}
.wider { width: 100% !important; }
.halfer { width: 50%; }
.quarter { width: 25%; }
.quarter3 { width: 75%; }
.sixties { width: 60%; }
.forties { width: 40%; }
.twenties { width: 20%; }
.thirties { width: 30%; }
.tener { width: 10%; }
.nineties { width: 90%; }
.charsep { padding: 0 4px; }
.lcharsep { padding-left: 12px; }
.bounder { width: 100%; height: 100%; overflow:hidden; }
.balancer {margin: 0px auto 0px auto;}
.hbalancer {margin-top: 50% !important;}
.blocker {display: block;}
.heavy {font-weight: bold;}
.loff {left: 50%;}
.roff {right: 50%;}
.b1, .b2 { background:#CCC; margin:0; overflow: hidden;}
.b1 {height:1px;}
.b2 {height:2px;}


table.list tr td.sep div {
  height: 16px;
}
