/*
  $Id: stylesheet.css,v 1.26 2003/06/30 20:03:50 hpdl Exp $

  osCommerce, Open Source E-Commerce Solutions
  http://www.oscommerce.com

  Copyright (c) 2002 osCommerce

  Released under the GNU General Public License
*/

#ajax, body { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #F7F7F7; color: #000000; margin: 0; padding: 0;}
table {font-family: Verdana, Arial, sans-serif; font-size: 12px; border: 0;}
h1,h2,h3,tr {margin:0; padding:0;}
img { border: 0; padding: 0; margin: 0;}
th {text-align:left;}

/* links */
a:link { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; font-weight: normal; text-decoration: none; }
a:visited { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; font-weight: normal; text-decoration: none; }
a:active { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; font-weight: normal; text-decoration: none; }
a:hover { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; font-weight: normal; text-decoration: underline; }

a.headerLink:link { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ffffff; font-weight: bold; text-decoration: none; }
a.headerLink:visited { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ffffff; font-weight: bold; text-decoration: none; }
a.headerLink:active { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ffffff; font-weight: bold; text-decoration: none; }
a.headerLink:hover { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ffffff; font-weight: bold; text-decoration: underline; }

a.menuBoxHeadingLink:link { font-size: 10px; color: #616060; font-weight: bold; text-decoration: none; }
a.menuBoxHeadingLink:visited { font-size: 10px; color: #616060; font-weight: bold; text-decoration: none; }
a.menuBoxHeadingLink:active { font-size: 10px; color: #616060; font-weight: bold; text-decoration: none; }
a.menuBoxHeadingLink:hover { font-size: 10px; color: #616060; font-weight: bold; text-decoration: none; }

a.menuBoxContentLink:link { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #616060; font-weight: normal; text-decoration: none; }
a.menuBoxContentLink:visited { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #616060; font-weight: normal; text-decoration: none; }
a.menuBoxContentLink:active { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #616060; font-weight: normal; text-decoration: none; }
a.menuBoxContentLink:hover { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #616060; font-weight: normal; text-decoration: underline; }

a.splitPageLink:link { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #0000FF; font-weight: normal; text-decoration: none; }
a.splitPageLink:visited { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #0000FF; font-weight: normal; text-decoration: none; }
a.splitPageLink:active { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #0000FF; font-weight: normal; text-decoration: none; }
a.splitPageLink:hover { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #0000FF; font-weight: normal; text-decoration: underline; background-color: #FFFF33; }

/* menu box */
.menuBoxHeading { 
  font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #616060; background-color: #EFEFEF; 
  border-top: 1px solid #777; 
  border-left: 1px solid #777; 
  border-right: 1px solid #777; 
  padding: 4px;
}
.menuBoxContent { 
  font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #616060; 
  border-left: 1px solid #777; 
  border-right: 1px solid #777; 
  background-color: #DADBDF;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
}

/* page */
.headerBar { background-color: #284080; }
.headerBarContent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ffffff; font-weight: bold; padding: 2px; }
.columnLeft { }
.innerLeft { 
  border-bottom: 1px solid #777;
/*
  padding-top: 2px;
  padding-bottom: 2px;
*/
}
.pageHeading { font-family: Verdana, Arial, sans-serif; font-size: 18px; color: #727272; font-weight: bold; }

/* data table */
.dataTableHeadingRow { background-color: #284080; }
.dataTableHeadingContent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ffffff; font-weight: bold; }
.dataTableRow { background-color: #DADBDF; }
.dataTableRowAlt { background-color: #C3C3CF;}
.dataTableRowSelected { background-color: #CCCCCC; }
.dataTableRowOver { background-color: #EEEEEE; cursor: pointer; cursor: hand; }
.dataTableContent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; }

/* info box */
.infoBoxHeading { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ffffff; background-color: #284080; }
.infoBoxContent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; background-color: #DADBDF; }

/* message box */

.messageBox { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.messageStackError, .messageStackWarning { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #ffb3b5; }
.messageStackSuccess { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #99ff00; }

/* forms */
CHECKBOX, INPUT, RADIO, SELECT, TEXTAREA, FILE { font-family: Verdana, Arial, sans-serif; font-size: 11px; }
FORM { display: inline; }

.textbutton {
  font-family: Verdana, Arial, sans-serif; 
  font-size: 10px;
  font-weight: bold;
  background: #E0E1E7 url(../images/sbutton.gif) repeat-x;
  color: #EEE;
  text-transform: uppercase;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
margin: 4px;
}

a.textbutton {
  color: #EEE;
  font-family: Verdana, Arial, sans-serif; 
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 9px;
}

.textbutton:hover {
  background: #E0E1E7 url(../images/sbutton-hover.gif) repeat-x;
  color: #FFF;
}

a.textbutton:hover {
  text-decoration: none;
}


/* account */
.formArea { background-color: #E5E5E5; border-color: #7b9e7b; border-style: solid; border-width: 1px; }
.formAreaRow { background-color: #E5E5E5; padding: 4px; }
.formAreaTitle { font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 12px; font-weight: bold; }
.formAreaRow img { padding: 0 4px; }
/* attributes */
.attributes-odd { background-color: #f4f7f4; }
.attributes-even { background-color: #ffffff; }

/* miscellaneous */
.specialPrice { color: #ff0000; }
.oldPrice { text-decoration: line-through; }
.fieldRequired { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ff0000; }
.smallText { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.main { font-family: Verdana, Arial, sans-serif; font-size: 12px; }
.errorText { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ff0000; }

.dataTableRowHighBorder { background-color: #FFCFCF; border-color: #3F3F3F; border-style: solid; border-width: 1px; font-size: 10px; }
.dataTableRowImpactBorder { background-color: #FF9F9F; border-color: #3F3F3F; border-style: solid; border-width: 1px; font-size: 10px; }
.dataTableRowGreenBorder { background-color: #EFFFEF; border-color: #3F3F3F; border-style: solid; border-width: 1px; font-size: 10px; }
.dataTableRowHigh { background-color: #FFCFCF; }
.dataTableRowImpact { background-color: #FF9F9F; }
.dataTableRowGreen { background-color: #EFFFEF; }
.dataTableRowYellow { background-color: #FFFFEB; }
.dataTableContentRed { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #CC0000; }
.dataTableContentGreen { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #00CC00; }
.dataTableContentRedAlert { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #FF0000; font-weight: bold; }
.dataTableHeaderForm { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #284080; }
.dataTableHeaderSubForm { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #555555; }
.formAreaBorder { border-color: #7b9e7b; border-style: solid; border-width: 1px; }

/* AJAX Orders Editor */
a.ajaxLink { font-family: Verdana, Arial, sans-serif; font-size: 12px; text-decoration: underline}
.addProduct {
	width: 400px;
	height: 400px
	border: solid;
	display: none;
	position: absolute;
	background-color: #B3BAC5;
	border-color: #f9b85c;
	font-family: Verdana, Arial, sans-serif;
}

.addProductContents {
	background-color: #C9C9C9;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
}

.tablemargin {margin: 1px;}
.tabledata {
font-size: 10px;
  width: 100%;
  border-collapse: collapse;
}
.tabledata td{
  padding: 4px;
  border: 1px solid #FFF;
}
.tabledata th {
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  padding: 6px 3px;
}

.tabledata th, .tabledata th a { color: #C2D3F6; font-weight: bold; }
.tabledata td a:hover {color: #F2F6AF;}
.oddrow {background: #F2F6AF;}
.altrow {background: #B2F6AF;}

/* Common Names to Combine and Override */
.floater { float:left; }
.floatend { float:right; }
.cleaner { clear:both; }
.abs {position: absolute};
.hider { display: none; }
.hideflow { float: left; overflow: hidden; }
.hideflowend { float: right; overflow: hidden; }
.halfer { width: 50%; }
.quarter { width: 25%; }
.quarter3 { width: 75%; }
.scroller { overflow: auto; width: 100%; }
.lalign { text-align: left; }
.calign { text-align: center; }
.ralign { text-align: right; }
.spacer {margin: 4px;}
.liner { display: inline; }
.hspacer { margin: 0px 4px; }
.vspacer { height: 8px; }
.bspacer { margin-bottom: 8px; }
.rspacer { margin-right: 8px; }
.lspacer { margin-left: 8px; }
.dlspacer { margin-left: 16px; }
.vmargin { margin: 8px 0px; }
.tmargin { margin-top: 8px; }
.lpad { padding-left: 8px; }
.rpad { padding-right: 8px; }
.bpad { padding-bottom: 8px; }
.hpad { padding: 0px 8px; }
.vpad { padding: 8px 0px; }
.blocker { display: block; }
.blocker:hover{text-decoration: none;}
.heavy {font-weight: bold;}
.charsep { padding: 0 4px; }
.wider { width: 100% !important; }
.highter { height: 100% !important; }
.bounder { width: 100%; height: 100%; overflow:hidden; }
.hbound { height: 100%; overflow:hidden; }
.balancer {margin: 0px auto 0px auto;}
.vlinepad {padding: 4px 0px;}
.blockpad {padding: 8px;}
.linepad {padding: 4px;}
.tinysep img { padding: 0 2px; }
.tinysep label { padding-right: 2px; }
.tinysep input[type="checkbox"] { margin-right: 4px; }
.medsep img { padding: 0 4px; }
.hideover { overflow:hidden; }
.whiter { background: #FFFFFF !important; }
